# Ignore everything except the portfolio files
*

# Allow these
!.gitignore
!index.html
!about me/
!about me/photo.jpg
!pickleball-app/
!pickleball-app/**
pickleball-app/.next/
pickleball-app/node_modules/
